asgiref==3.10.0
certifi==2025.10.5
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.4
Django==5.2.7
django-ckeditor==6.7.3
django-jazzmin==3.0.1
django-js-asset==3.1.2
django-paypal==2.1
django-sightline==0.1.0
django-taggit==6.1.0
djangorestframework==3.16.1
environs==14.5.0
gunicorn==23.0.0
idna==3.11
marshmallow==4.1.0
msgpack==1.1.2
packaging==25.0
pillow==12.0.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
python-json-logger==4.0.0
pytz==2025.2
redis==7.3.0
requests==2.32.5
shortuuid==1.0.13
sqlparse==0.5.3
stripe==14.0.1
typing_extensions==4.15.0
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==202602
urllib3==2.5.0
user-agents==2.2.0
whitenoise==6.11.0
