{% extends 'partials/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}





<main class="main">
	<div class="page-header mt-30 mb-50">
		<div class="container">
			<div class="archive-header">
				<div class="row align-items-center">
					<div class="col-xl-6">
						<h1 class="mb-15 fs-4 fs-sm-3 fs-md-2">{{category.title}}</h1>
						<div class="breadcrumb">
							<a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
							<span></span> <a href="{% url 'core:category-product-list' category.category.cid %}">{{category.category.title}}</a> 
                            <span></span><a href="{%url 'core:subcategory-products' category.cid %}">{{category.title}}</a>
                            
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="container mb-30">
		<div class="row">
			<div class="col-12">
				<div class="shop-product-fillter">
					<div class="totall-product">
                        <p>We found <strong class="text-brand">{{ page_obj.paginator.count }}</strong> item{{ page_obj.paginator.count|pluralize:"s" }} for you!</p>
                    </div>
					<div class="sort-by-product-area">
						<!-- <div class="sort-by-cover mr-10">
							<div class="sort-by-product-wrap">
								<div class="sort-by">
									<span><i class="fi-rs-apps"></i>Show:</span>
								</div>
								<div class="sort-by-dropdown-wrap">
									<span> 50 <i class="fi-rs-angle-small-down"></i></span>
								</div>
							</div>
							<div class="sort-by-dropdown">
								<ul>
									<li><a class="active" href="#">50</a></li>
									<li><a href="#">100</a></li>
									<li><a href="#">150</a></li>
									<li><a href="#">200</a></li>
									<li><a href="#">All</a></li>
								</ul>
							</div>
						</div>
						<div class="sort-by-cover">
							<div class="sort-by-product-wrap">
								<div class="sort-by">
									<span><i class="fi-rs-apps-sort"></i>Sort by:</span>
								</div>
								<div class="sort-by-dropdown-wrap">
									<span> Featured <i class="fi-rs-angle-small-down"></i></span>
								</div>
							</div>
							<div class="sort-by-dropdown">
								<ul>
									<li><a class="active" href="#">Featured</a></li>
									<li><a href="#">Price: Low to High</a></li>
									<li><a href="#">Price: High to Low</a></li>
									<li><a href="#">Release Date</a></li>
									<li><a href="#">Avg. Rating</a></li>
								</ul>
							</div>
						</div> -->
					</div>
				</div>
				<div class="row product-grid">
					{% for p in products %}
                    <div class="col-lg-1-5 col-md-4 col-6 col-sm-6">
						<div class="product-cart-wrap mb-30">
							<div class="product-img-action-wrap">
								<div class="product-img product-img-zoom">
									<a href="{% url 'core:product-detail' p.pid %}">
										<img class="default-img" src="{{ p.image.url }}" alt="" />
										<img class="hover-img" src="{{ p.image.url }}" alt="" />
									</a>
								</div>
								<div class="product-action-1">
									<button style="border: none;" class="add-to-wishlist" data-product-item="{{p.id}}"><i
										class="fi-rs-heart" style="fill: aqua;"></i></button>
									<a aria-label="Quick view"
                                                        class="action-btn quick-view-btn"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#quickViewModal"
                                                        data-id="{{ p.id }}"
                                                        data-title="{{ p.title }}"
                                                        data-price="{{ p.price }}"
                                                        data-oldprice="{{ p.old_price }}"
                                                        data-image="{{ p.image.url }}"
                                                        data-description="{{ p.description }}"
                                                        data-vendor="{{ p.vendor.title }}"
                                                        data-percentage="{{ p.get_precentage }}"
                                                        data-pid="{{ p.pid }}"
                                                        
                                                    >
													<i class="fi-rs-eye"></i></a>


								</div>
								<div class="product-badges product-badges-position product-badges-mrg">
									<span class="hot">{{p.get_precentage|floatformat:0}}% Off</span>
								</div>
							</div>
							<div class="product-content-wrap">
								<div class="product-category">
									<a href="{% url 'core:minicategory-products' p.mini_subcategory.cid %}">{{p.mini_subcategory.title}}</a>
								</div>
								<h2><a href="{% url 'core:product-detail' p.pid %}">{{p.title|truncatechars:30}}</a></h2>
								
								<div class="product-card-bottom">
									<div class="product-price">
										<span>Ksh </span><span class="current-product-price-{{ p.id }}">  {{p.price }}</span>
										<span class="old-price">{{p.old_price|floatformat:0|intcomma }}Ksh</span>
									</div>
									
								</div>
								
							</div>
						</div>
					</div>
                        {% endfor %}
					<!--end product card-->
					
				</div>
				<!--product grid-->
				{% include 'partials/pagination.html' %}
				{% if deals_products %}
                    <section class="section-padding pb-5">
                        <div class="section-title">
                            <h3 class="">Deals Of The Day</h3>
                            <a class="show-all" href="{% url 'core:all-deals' %}">
                                All Deals
                                <i class="fi-rs-angle-right"></i>
                            </a>
                        </div>
                        <div class="row">
                            {% for d in deals_products %}
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="product-cart-wrap style-2">
                                    
                                    <div class="product-img-action-wrap">
                                        <div class="product-badges product-badges-position product-badges-mrg">
											<span class="hot">-{{d.get_precentage|floatformat:0}} %</span>
										</div>
                                        <div class="product-img">
                                            <a href="{% url 'core:product-detail' d.pid %}">
                                                <img src="{{d.image.url}}" alt="" style="height:350px;" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="deals-countdown-wrap">
                                            <div class="deals-countdown" data-countdown='{{ d.deal_end_date|date:"Y/m/d H:i:s" }}''></div>
                                        </div>
                                        <div class="deals-content">
                                            <h2><a href="{% url 'core:product-detail' d.pid %}">{{d.title}}</a></h2>
                                            
                                            <div class="product-rate-cover">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> {{d.get_average_rating|floatformat:1}} ({{d.get_total_ratings}} Reviews)</span>
                                            </div>
                                            <div>
                                                <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' d.vendor.vid %}">{{d.vendor.title}}</a></span>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-price">
                                                    <span>Ksh {{d.price}}</span>
                                                    <br/>

                                                    <span class="old-price">Ksh {{d.old_price}}</span>
                                                </div>
                                                <div class="add-cart">
                                                    <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ d.id }}">
                                                    <input type="hidden" class="product-pid-{{ d.id }}" value="{{ d.pid }}">
                                                    <input type="hidden" class="product-image-{{ d.id }}" value="{{ d.image.url }}">
                                                    <input type="hidden" class="product-id-{{ d.id }}" value="{{ d.id }}">
                                                    <input type="hidden" class="product-title-{{ d.id }}" value="{{ d.title }}">
                                                    <input type="hidden" class="product-sku-{{ d.id }}" value="{{ d.sku }}">
                                                    
                                                    <div class="d-flex">
                                                    <button class="add add-to-cart-btn" data-index="{{ d.id }}" style="border: none;" id="add-to-cart-btn"><i class="fi-rs-shopping-cart mr-5"></i>Add</button>
                                                    <button style="border: none;" class="add-to-wishlist" data-product-item="{{d.id}}"><i
                                                        class="fi-rs-heart" style="fill: aqua;"></i></button>
                                                        </div>
                                                
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                    {% endif %}
				<!--End Deals-->
			</div>
		</div>
	</div>
</main>

{% endblock content%}